Service names

According to the [RFC 6335 (section 5.2)](http://tools.ietf.org/html/rfc6335#section-5.2):

```
   The DNS SRV specification [RFC2782] states that the Service Label
   part of the owner name of a DNS SRV record includes a "Service"
   element, described as "the symbolic name of the desired service", but
   as discussed above, it is not clear precisely what this means.

   This document clarifies that the Service Label MUST be a service name
   as defined herein with an underscore prepended.  The service name
   SHOULD be registered with IANA and recorded in the Service Name and
   Transport Protocol Port Number registry [PORTREG].
```

Should we limit the service name using the IANA list?


I also saw some places using **tls** as proto. For now we only support **udp** and **tcp**.


For now we aren't going to do any input check of this kind in the service name. One of the reasons is that even the service name used in the tests ("jabber") isn't registered in IANA list (or maybe we should replace it for "xmpp_server" :smiley:).
